body
{
    font-family:fantasy;
    background-color:aqua;
}
.header_div{
    background-color:magenta;
    color:lime;
}
p{
    font-family:'Times New Roman', Times, serif;
    color:blueviolet;
    font-size: medium;
}
button{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    width:130px;
    font-weight: bold;
}
.copy_right_footer{
    position:fixed;
    color:gold;
    background-color:crimson;
    text-align:center;
    font-size:30px;
    line-height:1;
    bottom: 0;
    width:100%;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}